:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

main .communityCard {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.6rem;
    max-height: 60%;
}

.budget_type_box {
    display: grid;
    gap: 1rem;
    grid-template-columns: 10rem auto;
}

main .communityCard>div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .communityCard>div:hover {
    box-shadow: none;
}

main .budget_card {
    margin: 0.3rem 0 1rem 0;
    padding: 0 0 0 0;
    width: 100%;
    position: relative;
    margin-bottom: 3.3rem;
}

.manrope {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}



main .budget_card .btn_budget {
    position: absolute;
    right: 2rem;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 8px;
    min-width: 64px;
    height: 36px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: rgb(21, 136, 21);
    background-color: transparent;
    border: 1px solid rgb(128, 176, 142);

    font-size: 14px;

    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;

}



.btn_budget::-moz-focus-inner {
    border: none;
}

/* Overlay */
.btn_budget::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: currentColor;
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.btn_budget::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px;
    height: 32px;
    background-color: currentColor;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.btn_budget:hover::before {
    opacity: 0.04;
}

.btn_budget:focus::before {
    opacity: 0.12;
}

.btn_budget:hover:focus::before {
    opacity: 0.16;
}

/* Active */
.btn_budget:active::after {
    opacity: 0.16;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.btn_budget:disabled {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: transparent;
    cursor: initial;
}

.btn_budget:disabled::before {
    opacity: 0;
}

.btn_budget:disabled::after {
    opacity: 0;
}



main .insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    margin-top: 0.5rem;
}

.insights .community-subprogram-title {
    display: grid;
    grid-template-columns: 4rem auto;
}


.insights .community-subprogram-title {
    position: relative;
}


.insights .community-status {
    position: absolute;
    right: -1rem;
    top: -1rem;
    font-size: .8rem;
}

main .insights>div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 400ms ease;
    cursor: pointer;
}

main .insights>div:hover {
    box-shadow: none;
    transform: scale(1.02);
}

main .insights>div span {
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;

}

main .insights>div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights svg {
    width: 7rem;
    height: 7rem;
}

main .insights svg circle {
    fill: none;
    stroke-width: 16;
    stroke-linecap: round;
    transform: translate(8px, 8px);
    /*transition: all 500ms ease;*/
    animation: anim 2s linear forwards;

}

@keyframes anim {
    0% {
        stroke-dashoffset: 157.5;
    }
}

main .insights .progress .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .insights small {
    margin-top: 1.3rem;
    display: block;
}



/* file upload button */
.communityCard input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    transition: background-color 200ms;
}

/* file upload button hover state */
.communityCard input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
}

/* file upload button active state */
.communityCard input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}


main .communityCard .table-card {
    max-height: 20rem;
    overflow: auto;
}


/* For Scroll Bar */
main .communityCard .table-card::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
}

main .communityCard .table-card::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color of the thumb */
    border-radius: 5px;
    /* Rounded corners */
}

main .communityCard .table-card::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Color of the thumb on hover */
}

main .communityCard .table-card::-webkit-scrollbar-track {
    background-color: #ddd;
    /* Color of the track */
}

.communityCard table {
    width: 100%;
}

main .communityCard table td {
    height: 2.8rem;
    border-bottom: 1px solid lightgray !important;
    color: var(--color-dark);
    text-align: center;
}

main .communityCard table tr:last-child td {
    border: none;
}



/* design for table */
main .communityCard .table-card table {
    border-collapse: collapse;
}

main .communityCard .table-card table thead tr {
    background-color: rgb(228, 234, 255) !important;
}

main .communityCard .table-card table thead tr th {
    border: none !important;
    padding: 0.5rem 1rem !important;
}

main .communityCard .table-card table thead tr th:first-child {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

main .communityCard .table-card table thead tr th:last-child {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}



/*------------------ MANAGE ACCOUNT TABLE MODAL ------------------*/
.communityCard .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}



/* Styling for the modal content */
.communityCard .modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 7px;
    width: 50%;
    position: relative;

}

.communityCard .modal h4 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

/* Style for the form container */
.communityCard .modal-body {
    padding: 20px;
    max-height: 400px;
    /* Set a maximum height for scrollability */
    overflow-y: auto;
    /* Enable vertical scrolling when the content overflows */
    margin-bottom: 4rem;
}


/* For Scroll Bar */
main .communityCard .modal-body::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
}

main .communityCard .modal-body::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color of the thumb */
    border-radius: 5px;
    /* Rounded corners */
}

main .communityCard .modal-body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Color of the thumb on hover */
}

main .communityCard .modal-body::-webkit-scrollbar-track {
    background-color: #ddd;
    /* Color of the track */
}



/* Style for form labels and inputs */
.communityCard .form-group label {
    font-weight: 100;
}

.communityCard .label-category {
    font-weight: 700;
    font-size: 1rem;
}


.communityCard .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for select elements */
.communityCard .form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/* Style for submit button */
.communityCard .btn-submit {
    background-color: #4a4cd7;
    color: #fff;
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    right: 1.3rem;
}

.communityCard .btn-submit:hover {
    background-color: #303396;
}


.communityCard .jumbotron {
    position: relative;
}


.communityCard .btn-add {
    background-color: #4a4cd7;
    /* Change this to your desired color */
    color: #fff;
    /* Change the text color */
    border: none;
    border-radius: 7px;
    position: absolute;
    left: 17.5rem;
    top: 2rem;
}



.communityCard .btn-add:hover {
    background-color: #303396;
    cursor: pointer;

}

/* coordinator add */

.communityCard .btn-add .green-add {
    background-color: #49a14f;
    border-radius: 7px;
}

.communityCard .btn-add .green-add:hover {
    background-color: #348138;
    cursor: pointer;
}


.communityCard .btn-delete1 {
    background-color: #ff5555;
    /* Red background color */
    color: #fff;
    /* White text color */
    padding: 5px 10px;
    /* Adjust padding as needed */
    border: none;
    border-radius: 4px;
    /* Rounded corners */
    cursor: pointer;
    text-decoration: none;
    /* Remove underlines for links */
}


.communityCard .btn-delete1:hover {
    background-color: #ff3333;
    /* Red background color on hover */
}

/* Styling for the close button */
.communityCard .btn-close {
    background-color: #ffffff;
    color: #2a2a2a;
    border: none;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    right: 1rem;
    top: .5rem;
}

.communityCard .btn-close:hover {

    color: var(--color-danger);
}

.communityCard table td {
    text-align: center;
}

.communityCard .file-box {
    margin-bottom: 1rem;
    /* Adjust as needed */
}

/* for filter */
.communityCard .program_card_box {
    position: absolute;
    right: 8rem;
    width: 10rem;
    top: 1.8rem;
}

.communityCard .form_control_program {
    height: 2.4rem !important;
    padding: 0rem 0 0rem 0.3rem !important;
}

.communityCard .year_card {
    position: absolute;
    right: 2.1rem;
    width: 5rem;
    height: 2.4rem !important;
    padding: 0 0 0 0.3rem;
    top: 1.7rem;
}

.communityCard .year_card:hover {
    border: 1px solid rgb(170, 176, 205) !important;
}

.communityCard .form_control_program:hover {
    border: 1px solid rgb(170, 176, 205) !important;
}

/*smaller laptop*/
@media screen and (max-width: 1200px) {
    .communityCard .communityCard .modal-content {
        position: relative;
    }

    .communityCard .modal-body {
        height: 40rem;

    }

    .communityCard .btn-close {
        position: absolute;
        right: 25px;
        bottom: 2px;
    }
}

/* ------------------- MOBILE -------------------- */
@media screen and (max-width: 400px) {
    .communityCard {
        margin: 0 auto;
        padding-top: 0.5rem;
    }




    .communityCard .jumbotron {
        width: 90%;
        margin: 0 auto;
    }

    .communityCard .modal-content {
        width: 90%;
    }

    .communityCard .table-card {
        width: 19rem;
        overflow: auto;
    }

    .communityCard .table-card th {
        padding-right: 1rem;
    }

    .communityCard .btn-close {
        height: 2rem;
        right: .5rem;
    }

    main .insights {
        grid-template-columns: 1fr;
        gap: 1rem;

    }

    main .insights>div {
        width: 90%;
        margin: 0 auto;
    }


    main .budget_card {
        margin-bottom: 4rem;
    }

    .communityCard .jumbotron .manage_community_title {
        width: 10rem !important;

    }

    .communityCard #yearDropdown1 {
        font-size: 0.8rem !important;
        width: 7.4rem;
        height: 2rem !important;
        position: absolute !important;
        right: 2.1rem;
        top: 4.1rem !important;

    }


    .communityCard #programDropdown {
        font-size: 0.8rem !important;
        width: 7.3rem;
        height: 2rem !important;


    }

    .communityCard .program_card_box {
        position: absolute;
        right: -0.5rem;

    }

    .communityCard .btn-add {
        top: 2.3rem;
        left: 11rem;
    }


    main .communityCard .table-card table thead tr th {
        padding: 0.2rem !important;
    }

    main .communityCard .table-card table thead tr th {

        padding: 0.2rem 1rem !important;
    }


}

.insights .insights-div:first-child {
    display: none;
}

.show-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-more {
    margin-top: 4rem;
    position: absolute;

}

.show-less {
    margin-top: 4rem;
    position: absolute;
}

.show-more .showMore1 {
    cursor: pointer;

}

.show-more .showMore1:hover {
    color: var(--color-primary);
}

.show-less .showLess1 {
    cursor: pointer;
}

.show-less .showLess1:hover {
    color: var(--color-primary);
}