:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}


main .pendingCard {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.6rem;
    max-height: 90%;


}

main .pendingCard .pendingBox>div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .pendingCard .table-card {
    max-height: 35rem;
    overflow: auto;
}




/* For Scroll Bar */
main .pendingCard .table-card::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
}

main .pendingCard .table-card::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color of the thumb */
    border-radius: 5px;
    /* Rounded corners */
}

main .pendingCard .table-card::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Color of the thumb on hover */
}

main .pendingCard .table-card::-webkit-scrollbar-track {
    background-color: #ddd;
    /* Color of the track */
}

main .pendingCard .pendingBox>div:hover {
    box-shadow: none;
}

.pendingCard table {
    width: 100%;
}

main .pendingCard table td {
    height: 2.8rem;
    border-bottom: 1px solid lightgray !important;
    color: var(--color-dark);
    text-align: center;
}

main .pendingCard table tr:last-child td {
    border: none;
}

.pendingCard .btn-delete1 {
    background-color: #ff5555;
    /* Red background color */
    color: #fff;
    /* White text color */
    padding: 5px 10px !important;
    /* Adjust padding as needed */
    border: none;
    border-radius: 4px;
    /* Rounded corners */
    cursor: pointer;
    text-decoration: none;
    /* Remove underlines for links */
}


.pendingCard .btn-delete1:hover {
    background-color: #ff3333;
    /* Red background color on hover */
}


.pendingCard .jumbo {
    overflow: auto;
    width: 20rem;
}


.pendingCard .btn-delete1 {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    /* Adjust padding as needed */
    padding-right: 5px;

}


/* design for table */
main .pendingCard .table-card table {
    border-collapse: collapse;
}

main .pendingCard .table-card table thead tr {
    background-color: rgb(228, 234, 255) !important;
}

main .pendingCard .table-card table thead tr th {
    border: none !important;
    padding: 0.8rem 1rem !important;
}

main .pendingCard .table-card table thead tr th:first-child {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

main .pendingCard .table-card table thead tr th:last-child {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

/* ------------------- MOBILE -------------------- */
@media screen and (max-width: 400px) {
    .pendingCard {
        width: 100%;
    }

    .pendingBox {
        width: 90%;
        margin: 0 auto;
        padding-top: 2rem;
    }

    .pendingCard .jumbotron {
        width: 100%;
        margin: 0 auto;
    }

    .pendingCard .table-card {
        max-width: 20rem;
        overflow: auto;
    }

    main .pendingCard .table-card table thead tr th {
        padding: 0.2rem !important;
    }

    main .pendingCard .table-card table thead tr th {

        padding: 0.2rem 1rem !important;
    }


}