@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Root Variable */
:root {
    --color-kaakbay: #2f9e36;
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f9f6;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}


* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

/* Remove the blue background color on autofill */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    /* Change 'white' to your desired background color */
    -webkit-text-fill-color: #000;
    /* Ensure text color is visible */
}

/* 
body {
    display: flex;
    justify-content: center;

    align-items: center;

    height: 90vh;
    font-family: poppins, sans-serif;
    background-color: #f4f6ff;
} */

.login_container1 {
    width: 60rem;
    height: 24rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". .";
    background-color: rgb(255, 255, 255);
    border-radius: var(--border-radius-3);
}


/* for input animation */
.login_container1 .input-wrapper,
.login_container1 .reset-password .input-wrapper1,
.login_container1 .reset-password .toggle2-container .input-wrapper2,
.login_container1 .reset-password .toggle3-container .input-wrapper3 {
    --padding: 16px;
    --focus-color: black;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
}


.login_container1 .input-wrapper input,
.login_container1 .reset-password .input-wrapper1 input,
.login_container1 .reset-password .toggle2-container .input-wrapper2 input,
.login_container1 .reset-password .toggle3-container .input-wrapper3 input {
    padding: var(--padding);
    border: 1px solid gray;
    outline: none;
    border-radius: 4px;
    width: 85%;
    margin: 0 auto;
    height: 1.5rem;
    margin-bottom: 0rem;
}

.login_container1 .input-wrapper .placeholder,
.login_container1 .reset-password .input-wrapper1 .placeholder,
.login_container1 .reset-password .toggle2-container .input-wrapper2 .placeholder,
.login_container1 .reset-password .toggle3-container .input-wrapper3 .placeholder {
    position: absolute;
    background-color: white;
    color: gray;
    left: 2.5rem;
    padding: 0 4px;
    transition: all 0.2s ease-in;
    cursor: auto;
}

.login_container1 .input-wrapper input:is(:focus, :valid),
.login_container1 .reset-password .input-wrapper1 input:is(:focus, :valid),
.login_container1 .reset-password .toggle2-container .input-wrapper2 input:is(:focus, :valid),
.login_container1 .reset-password .toggle3-container .input-wrapper3 input:is(:focus, :valid) {
    border: 2px solid rgb(57, 169, 57);

}

.login_container1 .input-wrapper input:focus+.placeholder,
.login_container1 .input-wrapper input:not(:placeholder-shown)+.placeholder,
.login_container1 .reset-password .input-wrapper1 input:focus+.placeholder,
.login_container1 .reset-password .input-wrapper1 input:not(:placeholder-shown)+.placeholder,
.login_container1 .reset-password .toggle2-container .input-wrapper2 input:focus+.placeholder,
.login_container1 .reset-password .toggle2-container .input-wrapper2 input:not(:placeholder-shown)+.placeholder,
.login_container1 .reset-password .toggle3-container .input-wrapper3 input:focus+.placeholder,
.login_container1 .reset-password .toggle3-container .input-wrapper3 input:not(:placeholder-shown)+.placeholder {
    transform: translateY(calc(-1 * (var(--padding) + 13px)));
    font-size: 14px;
    color: rgb(57, 169, 57);
}

.login_container1 .login_btn {
    background-color: rgb(0, 198, 0);
    color: white;
    border: none;
    padding: 0.9rem;
    cursor: pointer;
    position: absolute;
    bottom: -6rem;
    right: 1.3rem;
    font-weight: 700;
    border-radius: 2rem;
    width: 5rem;
    letter-spacing: 0.05rem;
    font-size: .7rem;
}

.login_container1 .login_btn:hover {
    background-color: rgb(4, 168, 4);

}

.login_container1 .btn_recover {
    padding: 0.9rem;
    border-radius: 2rem;
    font-weight: 300;
    cursor: pointer;
    font-size: .7rem;
    font-weight: 500;
    position: absolute;
    bottom: -7.3rem;
    right: 8rem;
    letter-spacing: 0.05rem;
}

.login_container1 .btn_recover:hover {
    padding: 0.9rem;
    background-color: rgb(233, 250, 233);
    border-radius: 2rem;
}


.login_container1 .login_form {
    margin-top: 5rem;
    position: relative;
}


.login_container1 .cesu_logo {
    width: 3.5rem;
    height: 3.5rem;
}

.login_container1 .cesu_bg {
    width: 90%;
    height: 40%;
    margin-top: 1rem;
}


.login_container1 .login_detail {
    padding: 2rem 0 0 2.5rem;

}

.login_container1 .login_input {
    padding: 1rem;
}

.login_container1 .login_detail h2 {
    padding-top: 0;
    margin-top: 1rem;
    font-weight: 400;
    font-size: 2.2rem;
    margin-bottom: 0.5rem;

}

/* .cesu_acc h3 {
    font-weight: 400;
    font-size: 1rem;
    margin-top: 0;
    color: rgb(48, 48, 48);
} */



/**FOR MODAL**/
.login_container1 .modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Styling for the modal content */
.login_container1 .modal-content {

    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 7px;
    width: 30%;
    position: relative;

}



.login_container1 .modal h4 {
    margin-top: 1rem;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 500 !important;
}

/* Style for the form container */
.login_container1 .modal-body {
    padding: 20px;
    height: 240px;
    margin-bottom: 4rem;
}

.login_container1 .modal-body1 {
    height: 160px !important;
}



.login_container1 .btn-recover {
    font-weight: 300;
    cursor: pointer;
    font-size: .7rem;
    text-decoration: underline;
    position: absolute;
    bottom: 2rem;
    left: 2.5rem;

}

.login_container1 .btn-close {
    background-color: #ffffff;
    color: #2a2a2a;
    position: absolute;
    border: none;
    top: 1rem;
    cursor: pointer;
    border-radius: 5px;
    right: 1rem;
}


.login_container1 .btn-close:hover {
    color: var(--color-danger);
}

.login_container1 .btn-submit-reset {
    cursor: pointer;
    background-color: rgb(0, 198, 0);
    color: white;
    padding: 0.8rem;
    border-radius: .2rem;
    width: 9rem;
    position: absolute;
    right: 3.5rem;
    bottom: 2rem;
    border: none;
    font-weight: 700;
    border-radius: 2rem;
    width: 5rem;
    letter-spacing: 0.05rem;
    font-size: .7rem;
}


.login_container1 .btn-submit-reset:hover {
    background-color: rgb(4, 168, 4);
}


.login_container1 .btn-submit-recovery:hover {
    background-color: #0f8e18;

}

/** TOGGLE PASSWORD**/
.login_container1 .toggle1-container {
    position: relative;
}



.login_container1 .toggle-password {
    position: absolute;
    right: 2rem;
    top: 1rem;
    cursor: pointer;
    color: rgb(113, 92, 135);

}

.login_container1 .toggle2-container {
    position: relative;

}

.login_container1 .toggle-password2 {
    position: absolute;
    right: 2rem;
    top: 1rem;
    cursor: pointer;
    color: rgb(113, 92, 135);
}


@media screen and (max-width: 400px) {

    body {
        display: block;
        background-color: rgb(255, 255, 255);
        border-radius: 0;
    }

    .login_container1 {
        width: 100%;
        height: 100vh;

        display: grid !important;
        /* border: 1px solid black; */
        grid-template-columns: 1fr !important;
        grid-template-areas: "." !important;
        grid-template-rows: 20rem 1fr !important;
        border-radius: 0 !important;
        border: none;
    }

    .login_container1 .login_form {
        margin-top: 0.1rem !important;

    }

    .login_container1 .login_detail {
        width: 90% !important;
        margin: 0 auto !important;
        padding-left: 0rem;
    }

    .login_container .cesu_bg {
        width: 98%;
    }


    .login_container1 .btn_recover {
        left: 0rem;
        width: max-content;

    }

    .login_container1 .login_btn {
        right: 0.5rem;
    }

    .login_container1 .placeholder {
        position: absolute;
        background-color: white;
        color: gray;
        left: 1.5rem;
        padding: 0 4px;
        transition: all 0.2s ease-in;
        cursor: auto;
    }


    .login_container1 .modal-content {
        width: 80%;
        height: 23rem;
        margin-top: 5rem;
    }

    .login_container1 .toggle-password {
        right: 1.5rem;
    }

    .login_container1 .toggle-password2 {
        right: 1.5rem;

    }

    .login_container1 .btn-submit-reset {
        margin: 0 auto;
        width: 14rem;
        margin-left: .5rem;
    }

    .login_container1 .modal h4 {
        margin-bottom: 0rem;

    }

    .login_container1 .btn-submit-reset {
        cursor: pointer;
        background-color: rgb(0, 198, 0);
        color: white;
        padding: 0.8rem;
        border-radius: .2rem;
        width: 10rem !important;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 1.8rem;
        border: none;
        font-weight: 700;
        border-radius: 2rem;
        width: 5rem;
        letter-spacing: 0.05rem;
        font-size: .7rem;
    }

}