{% extends "bor_dashboard.html" %}
{% block title %}Community{% endblock %}
{% block content %}


<div class="margin-top"></div>
{% with messages = get_flashed_messages(category_filter=['delete_account', 'add_community', 'existing_community'],
with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="flash flash-{{ category }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<!--FOR BUDGET-->
<div class="budget_card">
    <a href="{{ url_for('bor.bBudget') }} " class="btn_budget manrope">
        Budget
    </a>
</div>

<div class="communityCard">
    <div class="jumbotron">
        <h2 style="margin-bottom: 1rem;">Manage <b>Community</b>
        </h2>
        <div class="table-card">
            <table class="table" id="data-table">
                <tr>
                    <th>ID</th>
                    <th>Community</th>
                    <th>Program</th>
                    <th>Sub-Program</th>
                    <th>Date Deployed</th>
                    <th>Week</th>
                    <th>Total Week</th>
                    <th>Coordinator</th>
                    <th>Budget</th>

                </tr>
                {% for row in community %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.community }}</td>
                    <td>{{ row.program }}</td>
                    <td>{{ row.subprogram }}</td>
                    <td>{{ row.start_date }}</td>
                    <td>{{ row.week }}</td>
                    <td>{{ row.totalWeek }}</td>
                    <td>{{ row.user }}</td>
                    <td>{{ row.budget }}</td>

                </tr>
                {% endfor %}
            </table>


        </div>
        <!--end add modal account-->
        <span class="swipe-indicator swipe">&#8592; Swipe Left or Right &#8594;</span>
    </div> <!--end jumbotron-->
</div>

<div class="insights">
    <div class="insights-div">

        <div class="community-subprogram-title">
            <p class="community-status"></p>
            <div class="subLogo">
                <span class="material-symbols-sharp">analytics</span>
            </div>
            <h2 class="community-subprogram"></h2>
        </div>
        <div class="middle">
            <div class="left">
                <h3 class="community-department"></h3>
                <h1 class="community-subDepartment"></h1>
                <small class="community-title"></small>
            </div>
            <div class="progress">
                <svg>
                    <circle cx='38' cy='38' r='36'></circle>
                </svg>
                <div class="number">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="show-card">
    <div class="show-more">
        <span class="material-symbols-sharp showMore1">
            expand_more
        </span>
    </div>

    <div class="show-less" style="display: none;">
        <span class="material-symbols-sharp showLess1">
            keyboard_arrow_up
        </span>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

<!-- for budget validation -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var budgetInput = document.getElementById('budget');
        var notification = document.getElementById('notification');

        budgetInput.addEventListener('input', function (e) {
            var value = e.target.value;

            // Remove non-numeric characters except comma and period
            value = value.replace(/[^0-9.]/g, '');

            // Check if the input starts with zero
            if (value.charAt(0) === '0' && value.length > 1) {
                // If the input starts with zero, and its length is greater than 1,
                // remove the leading zero
                value = value.slice(1);
            }

            // Display notification if there are invalid characters
            if (value !== e.target.value) {
                notification.textContent = "INVALID INPUT! Only use numbers, commas, and periods.";
            } else {
                notification.textContent = "";
            }

            // Check for more than one period
            var periodIndex = value.indexOf('.');
            if (periodIndex !== -1) {
                // If there's more than one period, keep only the first one
                var remainingChars = value.slice(periodIndex + 1).replace(/\./g, '');
                value = value.slice(0, periodIndex + 1) + remainingChars.slice(0, 2);
            }

            // Add commas for thousands
            var parts = value.split('.');
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',');
            value = parts.join('.');

            // Update the input value
            e.target.value = value;
        });

        // Add event listener to clear notification on click outside the input field
        document.addEventListener('click', function (event) {
            if (event.target !== budgetInput) {
                notification.textContent = "";
            }
        });
    });
</script>

<!--for total week validation-->
<script>
    document.querySelectorAll(".mobile-input").forEach(function (element) {
        element.addEventListener("input", function (event) {
            // Remove any non-numeric characters from the input
            this.value = this.value.replace(/\D/g, "");

            // Ensure only two digits are allowed
            if (this.value.length > 2) {
                this.value = this.value.slice(0, 2);
            }
        });
    });
</script>


<!--FOR BUDGET BALANCE-->
<script>
    // Event listener for form submission
    $('#upload-form').submit(function (event) {
        event.preventDefault();  // Prevent the form from submitting by default

        // Extract program, budgetType, and budgetAmount from the form fields
        var program = $('select[name="program"]').val();
        var budgetType = $('select[name="budget_type"]').val();
        var budgetAmount = parseFloat($('input[name="budget"]').val().replace(/,/g, ''));
        var date = $("#start_date_input").val().toString();


        // Check the budget balance
        checkBudgetBalance(program, budgetType, budgetAmount, date);
    });


    // Function to check if the current program's budget balance is sufficient
    function checkBudgetBalance(program, budgetType, budgetAmount, date) {
        // Get the current program's total budget from the server using AJAX
        $.ajax({
            url: "/get_current_program_budget",  // Replace with your endpoint to get the current program's budget
            method: "POST",
            data: {
                program: program,
                budgetType: budgetType,
                date: date
            },
            dataType: "json",
            success: function (response) {
                var currentBudget = response.currentBudget;

                // Compare the current program's budget with the entered budget amount
                if (currentBudget < budgetAmount) {
                    alert("Insufficient balance!");  // Show alert if the balance is insufficient
                } else {
                    // Proceed with the form submission if the balance is sufficient
                    $('#upload-form').off("submit").submit(); // Remove previous submit handler and submit the form
                }
            },
            error: function () {
                console.log("Failed to fetch current program's budget.");
            }
        });
    }
</script>


<!--VOLUNTEERS-->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var volunteerInput = document.querySelector('input[name="volunteer"]');
        var notification = document.getElementById('notification');

        volunteerInput.addEventListener('input', function (e) {
            var value = e.target.value;

            // Remove non-numeric characters
            value = value.replace(/\D/g, '');

            // Remove leading zeros
            value = value.replace(/^0+/, '');

            // Limit input to six digits
            if (value.length > 6) {
                value = value.slice(0, 6);
            }

            // Add commas for better readability
            value = numberWithCommas(value);

            // Update the input value
            e.target.value = value;
        });

        // Add event listener to clear notification on click outside the input field
        document.addEventListener('click', function (event) {
            if (event.target !== volunteerInput) {
                notification.textContent = "";
            }
        });
    });

    // Function to add commas to a number
    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
</script>

<script>
    $(document).ready(function () {
        loadInitialInsights();
        coordinator_name();

        date_picker();

    });
</script>
<script>
    // Remove any non-letter characters from the input
    document.querySelectorAll(".letters-with-space-input").forEach(function (element) {
        element.addEventListener("input", function (event) {
            // Remove any non-letter and non-space characters from the input

            this.value = this.value.replace(/[^A-Za-z\s]|(?<=\s)\s+|\s+(?=\s)/g, "");

        });
    });
</script>

<script>
    function loadInitialInsights() {
        $.ajax({
            url: "/community_data_list",
            method: "GET",
            dataType: "json",
            success: function (data) {
                data = data.reverse();
                var insightsContainer = $(".insights");
                var insightsCount = 0;

                data.forEach(function (record) {
                    var insightsDiv = $(".insights-div").clone();

                    var statusText = record.status;
                    var colorClass = statusText === 'Ongoing' ? 'text-orange' : 'text-green';

                    // Update the content within the newly created insights-div
                    insightsDiv.find(".community-title").text(record.community);
                    insightsDiv.find(".community-department").text(record.department);
                    insightsDiv.find(".community-subDepartment").text(record.subDepartment);
                    insightsDiv.find(".community-subprogram").text(record.subprogram);
                    insightsDiv.find(".community-status").text(statusText).addClass(colorClass);

                    var percentage = Math.floor((record.week * 100 / record.totalWeek));
                    insightsDiv.find(".number").text(percentage + "%");

                    var circle = insightsDiv.find("circle");
                    var circumference = 2 * Math.PI * parseInt(circle.attr("r"));
                    var dashOffset = circumference * (1 - percentage / 100);

                    circle.attr("stroke-dasharray", circumference);
                    circle.attr("stroke-dashoffset", dashOffset);

                    if (percentage >= 85) {
                        circle.attr("stroke", "#41f1b6"); // Green
                    } else if (percentage >= 70) {
                        circle.attr("stroke", "#ffbb55"); // Orange
                    } else if (percentage >= 40) {
                        circle.attr("stroke", "#ff7782"); // Pink
                    } else {
                        circle.attr("stroke", "red"); // Red
                    }

                    // Inside the loop where you create insightsDiv elements
                    var iconText = "analytics"; // Default icon text


                    //lahat ng program lalagyan
                    switch (record.program) {
                        case "Literacy":
                            iconText = "computer";
                            break;
                        case "Gender and Development":
                            iconText = "wc";
                            break;
                        case "Health and Wellness":
                            iconText = "health_and_safety";
                            break;
                        // Add more cases as needed
                        case "Environmental Stewardship":
                            iconText = "source_environment";
                            break;
                        case "Socio-economic":
                            iconText = "rubric";
                            break;
                        case "Disaster Management":
                            iconText = "flood";
                            break;
                        case "Values Formation":
                            iconText = "settings_accessibility";
                            break;
                        case "Cultural Enhancement":
                            iconText = "compare";
                            break;
                    }
                    //hanggang dito


                    // Update the text inside the span element to reflect the icon text
                    insightsDiv.find(".material-symbols-sharp").text(iconText);


                    insightsContainer.append(insightsDiv);
                    insightsDiv.removeClass("insights-div");
                    insightsCount++;
                    //hide the dafault container
                    insightsContainer.find("> div:nth-child(n+5)").css("display", "none");

                });

                if (insightsCount < data.length) {
                    $(".show-more").show();
                }

                // Show More button click handler
                $(".show-more").on("click", function () {
                    insightsContainer.find("> div").css("display", "block");
                    insightsContainer.find("> div:first-child").css("display", "none");
                    $(this).hide();
                    $(".show-less").show();
                });
                // Show More button click handler
                $(".show-less").on("click", function () {
                    $(this).hide();
                    $(".show-more").show();
                    //hide the dafault container
                    insightsContainer.find("> div:nth-child(n+5)").css("display", "none");

                });
            },
            error: function () {
                console.log("Failed to load community data.");
            }
        });
    }
    function coordinator_name() {
        program_select = document.getElementById('program');
        program_select.onchange = function () {
            var program = program_select.value;
            fetch('/subprogram1/' + program).then(function (response) {
                response.json().then(function (data) {
                    var optionHTML = '';
                    var selectElement = document.getElementById('userSelect');

                    for (user of data.users) {
                        // Combine firstname and lastname and set it as the option value
                        var fullname = user.firstname + ' ' + user.lastname;
                        optionHTML += '<option value="' + fullname + '">' + fullname + '</option>';
                    }

                    selectElement.innerHTML = optionHTML;
                });
            });
        };

        // Listen for changes in the coordinator select dropdown
        var coordinatorSelect = document.getElementById('coordinator_selected');
        coordinatorSelect.addEventListener('change', function () {
            var coordinatorSelectValue = coordinatorSelect.value;
            fetch('/department1/' + coordinatorSelectValue).then(function (response) {
                response.json().then(function (data) {
                    var optionHTML = '';
                    var selectElement = document.getElementById('departmentSelect');

                    for (user of data.users) {
                        // Set department_A as the option value
                        var department_A = user.department_A;
                        optionHTML += '<option value="' + department_A + '">' + department_A + '</option>';
                    }

                    selectElement.innerHTML = optionHTML;
                });
            });
        });
    }




    //date picker
    var startDateInput;
    function date_picker() {

        flatpickr("#start_date_input", {

            onChange: function (selectedDates, dateStr, instance) {
                // Enable the "End date" input and set the minimum date to the selected "Start date"
                flatpickr("#end_date_input", {
                    dateFormat: "Y-m-d",
                    altInput: true,
                    altFormat: "F j, Y",
                    minDate: dateStr,
                });
            }
        });

        startDateInput = flatpickr("#start_date_input", {
            dateFormat: "Y-m-d",
            altInput: true,
            altFormat: "F j, Y",
            minDate: "today",
            onChange: function (selectedDates, dateStr, instance) {
                // Enable the "End date" input and set the minimum date to the selected "Start date"
                flatpickr("#end_date_input", {
                    dateFormat: "Y-m-d",
                    altInput: true,
                    altFormat: "F j, Y",
                    minDate: dateStr,
                });
            }
        });


        flatpickr("#end_date_input", {
            disable: [
                ({ day, month, year }) => startDateInput.selectedDates.length === 0 || startDateInput.selectedDates[0].getTime() !== new Date(year, month, day).getTime()
            ]
        });
    }
</script>
{% endblock %}