{% extends "bor_dashboard.html" %}
{% block title %}Community{% endblock %}
{% block content %}


<div class="margin-top"></div>
{% with messages = get_flashed_messages(category_filter=['delete_account', 'add_community', 'existing_community'],
with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="flash flash-{{ category }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<!--FOR BUDGET-->
<div class="budget_card">
    <a href="{{ url_for('bor.bBudget') }} " class="btn_budget manrope">
        Budget
    </a>
</div>

<div class="communityCard">
    <div class="jumbotron">
        <h2 style="margin-bottom: 1rem;">Manage <b>Community</b>

            <select id="yearDropdown1" class="year_card form-control form_control_year">
                {% for year in budget_years_with_placeholder %}
                <option value="{{ year[0] }}">{{ year[1] }}</option>
                {% endfor %}
            </select>

            <div class="form-group program_card_box">
                {{ form.program(class="form-control form_control_program", id="programDropdown",
                value=form.program.default) }}
            </div>

        </h2>
        <div class="table-card">
            <table class="table" id="data-table">
                <thead> <!-- Table header -->
                    <tr>
                        <th>ID</th>
                        <th>Community</th>
                        <th>Program</th>
                        <th>Sub-Program</th>
                        <th>Date Deployed</th>
                        <th>Week</th>
                        <th>Total Week</th>
                        <th>Budget</th>
                        <th>Coordinator</th>
                        <th>Status</th>


                    </tr>
                </thead>
                <tbody>
                    {% for row in community %}

                    <tr>
                        <td><a href="{{ url_for('bor.bView_project', project_id=row.id)}}" class="btn-edit">{{
                                row.id
                                }}</a></td>
                        <td><a href="{{ url_for('bor.bView_project', project_id=row.id)}}" class="btn-edit">{{
                                row.community }}</a></td>
                        <td><a href="{{ url_for('bor.bView_project', project_id=row.id)}}" class="btn-edit">{{
                                row.program }}</a></td>
                        <td><a href="{{ url_for('bor.bView_project', project_id=row.id)}}" class="btn-edit">{{
                                row.subprogram }}</a></td>
                        <td><a href="{{ url_for('bor.bView_project', project_id=row.id)}}" class="btn-edit">{{
                                row.start_date}}</a></td>
                        <td><a href="{{ url_for('bor.bView_project', project_id=row.id)}}" class="btn-edit">{{
                                row.week}}</a></td>

                        <td><a href="{{ url_for('bor.bView_project', project_id=row.id)}}" class="btn-edit">{{
                                row.totalWeek }}</a></td>
                        <td><a href="{{ url_for('bor.bView_project', project_id=row.id)}}" class="btn-edit">{{
                                row.budget
                                }}</a></td>
                        <td><a href="{{ url_for('bor.bView_project', project_id=row.id)}}" class="btn-edit">
                                {% if
                                row.budget is number %}
                                {% set formatted_budget = "%0.2f" % row.budget %}
                                {{ formatted_budget }}
                                {% else %}
                                {{ row.budget }}
                                {% endif %}</a></td>
                        <td>
                            <a href="{{ url_for('bor.bView_project', project_id=row.id)}}"
                                class="btn-edit status-element" data-status="{{ row.status }}">
                                {{ row.status }}
                            </a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
        <!--end add modal account-->
        <span class="swipe-indicator swipe">&#8592; Swipe Left or Right &#8594;</span>
    </div>
</div>

<div class="insights">
    <div class="insights-div">

        <div class="community-subprogram-title">
            <p class="community-status"></p>
            <div class="subLogo">
                <span class="material-symbols-sharp">analytics</span>
            </div>
            <h2 class="community-subprogram"></h2>
        </div>
        <div class="middle">
            <div class="left">
                <h3 class="community-department"></h3>
                <h1 class="community-subDepartment"></h1>
                <small class="community-title"></small>
            </div>
            <div class="progress">
                <svg>
                    <circle cx='38' cy='38' r='36'></circle>
                </svg>
                <div class="number">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="show-card">
    <div class="show-more">
        <span class="material-symbols-sharp showMore1">
            expand_more
        </span>
    </div>

    <div class="show-less" style="display: none;">
        <span class="material-symbols-sharp showLess1">
            keyboard_arrow_up
        </span>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

<!-- for filter programs and date -->

<script>
    // Event listener for program dropdown change
    $('#programDropdown, #yearDropdown1').change(function () {
        filterCommunityProjects();
    });

    // Function to filter community projects based on selected program and year
    function filterCommunityProjects() {
        var selectedProgram = $('#programDropdown').val();
        var selectedYear = $('#yearDropdown1').val();

        // Hide all table rows
        $('#data-table tbody tr').hide();

        // Show rows matching the selected program and year
        $('#data-table tbody tr').each(function () {
            var row = $(this);
            var program = row.find('td:eq(2)').text(); // Index of program column in the table
            var startDate = row.find('td:eq(4)').text(); // Index of start date column in the table
            var yearFromTable = (new Date(startDate)).getFullYear(); // Extract year from the start date

            // Check if both program and year match the selected values
            if (program === selectedProgram && yearFromTable.toString() === selectedYear) {
                row.show();
            }
        });
    }

</script>


<!-- for ongoing and completed color -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var statusElements = document.querySelectorAll('.status-element');
        statusElements.forEach(function (statusElement) {
            var status = statusElement.getAttribute('data-status');
            if (status.trim() === 'Ongoing') {
                statusElement.style.color = 'blue';  // Change the color as needed

            } else {
                statusElement.style.color = '#00e600';
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        loadInitialInsights();
    });
</script>

<script>
    function loadInitialInsights() {
        $.ajax({
            url: "/community_data_list",
            method: "GET",
            dataType: "json",
            success: function (data) {
                data = data.reverse();
                var insightsContainer = $(".insights");
                var insightsCount = 0;

                data.forEach(function (record) {
                    var insightsDiv = $(".insights-div").clone();

                    var statusText = record.status;
                    var colorClass = statusText === 'Ongoing' ? 'text-orange' : 'text-green';

                    // Update the content within the newly created insights-div
                    insightsDiv.find(".community-title").text(record.community);
                    insightsDiv.find(".community-department").text(record.department);
                    insightsDiv.find(".community-subDepartment").text(record.subDepartment);
                    insightsDiv.find(".community-subprogram").text(record.subprogram);
                    insightsDiv.find(".community-status").text(statusText).addClass(colorClass);

                    var percentage = Math.floor((record.week * 100 / record.totalWeek));
                    insightsDiv.find(".number").text(percentage + "%");

                    var circle = insightsDiv.find("circle");
                    var circumference = 2 * Math.PI * parseInt(circle.attr("r"));
                    var dashOffset = circumference * (1 - percentage / 100);

                    circle.attr("stroke-dasharray", circumference);
                    circle.attr("stroke-dashoffset", dashOffset);

                    if (percentage >= 85) {
                        circle.attr("stroke", "#41f1b6"); // Green
                    } else if (percentage >= 70) {
                        circle.attr("stroke", "#ffbb55"); // Orange
                    } else if (percentage >= 40) {
                        circle.attr("stroke", "#ff7782"); // Pink
                    } else {
                        circle.attr("stroke", "red"); // Red
                    }

                    // Inside the loop where you create insightsDiv elements
                    var iconText = "analytics"; // Default icon text


                    //lahat ng program lalagyan
                    switch (record.program) {
                        case "Literacy":
                            iconText = "computer";
                            break;
                        case "Gender and Development":
                            iconText = "wc";
                            break;
                        case "Health and Wellness":
                            iconText = "health_and_safety";
                            break;
                        // Add more cases as needed
                        case "Environmental Stewardship":
                            iconText = "source_environment";
                            break;
                        case "Socio-economic":
                            iconText = "rubric";
                            break;
                        case "Disaster Management":
                            iconText = "flood";
                            break;
                        case "Values Formation":
                            iconText = "settings_accessibility";
                            break;
                        case "Cultural Enhancement":
                            iconText = "compare";
                            break;
                    }
                    //hanggang dito


                    // Update the text inside the span element to reflect the icon text
                    insightsDiv.find(".material-symbols-sharp").text(iconText);


                    insightsContainer.append(insightsDiv);
                    insightsDiv.removeClass("insights-div");
                    insightsCount++;
                    //hide the dafault container
                    insightsContainer.find("> div:nth-child(n+5)").css("display", "none");

                });

                if (insightsCount < data.length) {
                    $(".show-more").show();
                }

                // Show More button click handler
                $(".show-more").on("click", function () {
                    insightsContainer.find("> div").css("display", "block");
                    insightsContainer.find("> div:first-child").css("display", "none");
                    $(this).hide();
                    $(".show-less").show();
                });
                // Show More button click handler
                $(".show-less").on("click", function () {
                    $(this).hide();
                    $(".show-more").show();
                    //hide the dafault container
                    insightsContainer.find("> div:nth-child(n+5)").css("display", "none");

                });
            },
            error: function () {
                console.log("Failed to load community data.");
            }
        });
    }
    function coordinator_name() {
        program_select = document.getElementById('program');
        program_select.onchange = function () {
            var program = program_select.value;
            fetch('/subprogram1/' + program).then(function (response) {
                response.json().then(function (data) {
                    var optionHTML = '';
                    var selectElement = document.getElementById('userSelect');

                    for (user of data.users) {
                        // Combine firstname and lastname and set it as the option value
                        var fullname = user.firstname + ' ' + user.lastname;
                        optionHTML += '<option value="' + fullname + '">' + fullname + '</option>';
                    }

                    selectElement.innerHTML = optionHTML;
                });
            });
        };

        // Listen for changes in the coordinator select dropdown
        var coordinatorSelect = document.getElementById('coordinator_selected');
        coordinatorSelect.addEventListener('change', function () {
            var coordinatorSelectValue = coordinatorSelect.value;
            fetch('/department1/' + coordinatorSelectValue).then(function (response) {
                response.json().then(function (data) {
                    var optionHTML = '';
                    var selectElement = document.getElementById('departmentSelect');

                    for (user of data.users) {
                        // Set department_A as the option value
                        var department_A = user.department_A;
                        optionHTML += '<option value="' + department_A + '">' + department_A + '</option>';
                    }

                    selectElement.innerHTML = optionHTML;
                });
            });
        });
    }




    //date picker
    var startDateInput;
    function date_picker() {

        flatpickr("#start_date_input", {

            onChange: function (selectedDates, dateStr, instance) {
                // Enable the "End date" input and set the minimum date to the selected "Start date"
                flatpickr("#end_date_input", {
                    dateFormat: "Y-m-d",
                    altInput: true,
                    altFormat: "F j, Y",
                    minDate: dateStr,
                });
            }
        });

        startDateInput = flatpickr("#start_date_input", {
            dateFormat: "Y-m-d",
            altInput: true,
            altFormat: "F j, Y",
            minDate: "today",
            onChange: function (selectedDates, dateStr, instance) {
                // Enable the "End date" input and set the minimum date to the selected "Start date"
                flatpickr("#end_date_input", {
                    dateFormat: "Y-m-d",
                    altInput: true,
                    altFormat: "F j, Y",
                    minDate: dateStr,
                });
            }
        });


        flatpickr("#end_date_input", {
            disable: [
                ({ day, month, year }) => startDateInput.selectedDates.length === 0 || startDateInput.selectedDates[0].getTime() !== new Date(year, month, day).getTime()
            ]
        });
    }
</script>
{% endblock %}