{% extends "admin_dashboard.html" %}
{% block title %}Fundraising Programs{% endblock %}
{% block content %}
<div class="notfound1">
    <div class="notfound">
        <div class="no-data">
            <h1>No Data Found</h1>
            <p>Sorry, but there is no data available at the moment. Go back to the
                <a href="{{url_for('fundraising.fund')}}"> Manage Fundraising </a>page.
            </p>
        </div>

    </div>
</div>
<div class="margin-top"></div>
{% with messages = get_flashed_messages(category_filter=['existing_username', 'existing_program',
'edit_account',
'delete_account', 'add_account', 'password_space', 'username_space'], with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="flash flash-{{ category }}" style="margin-bottom: 1rem;">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="kaakbay-subprogram-title">
    <h1 class="fund_title">Fundraising Programs</h1>
    <svg class="kaakbay-design-title" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#303396" fill-opacity="1"
            d="M0,256L48,240C96,224,192,192,288,202.7C384,213,480,267,576,266.7C672,267,768,213,864,197.3C960,181,1056,203,1152,224C1248,245,1344,267,1392,277.3L1440,288L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
        </path>
    </svg>
</div>

<div class="fund_program_card ">
    <div class="insights-div ">
        <p class="community-status"></p>
        <div class="community-subprogram-title">
            <div class="subLogo">
                <span class="material-symbols-sharp ">analytics</span>
            </div>
            <h2 class="community-subprogram"></h2>
        </div>
        <div class="middle">
            <div class="left">
                <h3 class="community-department"></h3>
                <small class="community-title"></small>
            </div>
            <div class="progress">
                <span class="loader1 ongoing_loader">Ongo&nbsp;ng</span>
                <span class="loader completed_loader"></span>



            </div>
        </div>
        <div class="date-card">
            <div class="date-title start-title-green">PROPOSED DATE</div>
            <div class="date-title end-title-red">TARGET DATE</div>

            <div class="date-card-content start-date-card">
                <div class="box-color-green"></div>
                <div class="date-content">
                    <small class="text-muted community-start_date"></small>
                </div>
            </div>
            <div class="date-card-content end-date-card">
                <div class="box-color-red"></div>
                <div class="date-content">
                    <small class="text-muted community-end_date"></small>
                </div>
            </div>
        </div>

        <div class="jumbotron">
            <h2 style="margin-bottom: 1rem;" class="fund_table_title">Fundraising <b>Donor</b></h2>
            <div class="table-card1">

                <table class="table" id="donor-table">
                    <thead>
                        <tr>
                            <th>Program</th>
                            <th>Name</th>
                            <th>Donation</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>
        <!-- Add checkboxes and labels here -->
        <div class="donor_cash_card">

            <div class="donor_qty" style="margin-bottom: 1rem;">
                <div class="donor_num">
                    <h4>Cash No. Donors </h4>
                    <input type="text" class="form-control mobile-number mobile-input " minlength="11" maxlength="11">
                    <button class=" btn-primary quantity"><span class="material-symbols-sharp">add</span></button>
                </div>
            </div>
            <div class="donor_details">
                <div class="donor_list">

                </div>
            </div>
        </div>

        <div class="donor_inkind_card">

            <div class="donor_qty" style="margin-bottom: 1rem;">
                <div class="donor_num">
                    <h4>In-Kind No. Donors</h4>
                    <input type="text" class="form-control mobile-number mobile-input" minlength="11" maxlength="11">
                    <button class="btn-primary quantity"><span class="material-symbols-sharp">add</span></button>
                </div>
            </div>
            <div class="donor_details">
                <div class="donor_list">

                </div>
            </div>

        </div>

        <input type="text" class="link-input" placeholder="Enter Link">
        <button class="btn btn-primary save-button cash_button">Save</button>
        <button class="btn btn-primary save-button inkind_button">Save</button>

        <button class="btn btn-primary archive-button cash_archive_button">Archive</button>
        <button class="btn btn-primary archive-button inkind_archive_button">Archive</button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    $(".mobile-input, .mobile-number").on('input', function () {
        this.value = this.value.replace(/\D/g, "");
    });
</script>




<script>
    $(document).ready(function () {
        function_name();

    });
    function function_name() {
        $.ajax({
            url: "/get_fund_data",
            method: "GET",
            dataType: "json",
            success: function (data) {
                if (data.message === 'There are no active projects available for display.') {
                    $(".notfound1").css("display", "block");
                    $(".kaakbay-subprogram-title").css("display", "none");

                    return;
                } else {

                    data = data.reverse();
                    var insightsContainer = $(".fund_program_card");
                    data.forEach(function (record) {
                        var insightsDiv = $(".insights-div").clone();
                        var proposed_date = new Date(record.proposed_date);
                        var target_date = new Date(record.target_date);
                        // Format the dates to display only the date portion
                        var proposed_date_string = proposed_date.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' });
                        var target_date_string = target_date.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' });

                        var statusText = record.status;
                        var colorClass = statusText === 'Ongoing' ? 'text-orange' : 'text-green';

                        if (statusText === 'Ongoing') {
                            insightsDiv.find('.table-card1').hide();
                            insightsDiv.find(".cash_archive_button").css("display", "none");
                            insightsDiv.find(".cash_button").css("display", "block");
                            insightsDiv.find(".inkind_button").css("display", "block");
                            insightsDiv.find(".link-input").css("display", "none");
                            insightsDiv.find(".jumbotron").css("display", "none");

                            insightsDiv.find(".completed_loader").css("display", "none");

                        } else if (statusText === 'Completed') {
                            insightsDiv.find(".cash_button").css("display", "none");
                            insightsDiv.find(".inkind_button").css("display", "none");

                            insightsDiv.find(".cash_archive_button").css("display", "block");
                            insightsDiv.find(".link-input").css("display", "block");
                            insightsDiv.find(".ongoing_loader").css("display", "none");
                        }

                        // Update the content within the newly created insights-div

                        insightsDiv.find(".community-subprogram").text(record.project_name);
                        insightsDiv.find(".community-department").text(record.program);
                        insightsDiv.find(".community-title").text(record.coordinator);
                        insightsDiv.find(".community-start_date").text(proposed_date_string);
                        insightsDiv.find(".community-end_date").text(target_date_string);
                        insightsDiv.find(".community-status").text(statusText).addClass(colorClass);

                        var checkboxGroup = insightsDiv.find(".checkbox-group");
                        checkboxGroup.empty(); // Clear any existing checkboxes
                        var lastCheckedIndex = 0; // Keep track of the last checked checkbox index

                        // Add a click event handler for saving data to the database
                        insightsDiv.find(".cash_button").click(function () {
                            var userConfirmed = confirm("Are you sure you want to proceed?");
                            if (userConfirmed) {
                                cash_update_fund();
                            }
                        });

                        insightsDiv.find(".inkind_button").click(function () {
                            var userConfirmed = confirm("Are you sure you want to proceed?");
                            if (userConfirmed) {
                                inkind_update_fund();
                            }
                        });

                        insightsDiv.find(".donor_qty button").click(function () {
                            var qty = parseInt($(this).siblings("input").val());
                            if (!isNaN(qty) && qty > 0) {
                                var fieldsToAdd = qty;
                                for (var i = 0; i < fieldsToAdd; i++) {
                                    var inputField = $("<div>").addClass("input-group mb-3");

                                    var donationDateWrapper = $("<div>").addClass("donation-date-wrapper"); // New wrapper div

                                    // Label for Name
                                    var nameLabel = $("<label>").addClass("form-label").text("Name");
                                    var nameInput = $("<input>").attr("type", "text").addClass("form-control name-input").attr("required", true);

                                    nameInput.on("input", function () {
                                        // Remove any non-alphabetic characters and multiple spaces from the input
                                        var inputValue = $(this).val().replace(/[^A-Za-z\s]+|(\s){2,}/g, "$1");
                                        // Update the input field value
                                        $(this).val(inputValue);
                                    });


                                    // Donation input and its wrapper
                                    var donationWrapper = $("<div>").addClass("donation-wrapper custom-class");
                                    var donationLabel = $("<label>").addClass("form-label").text("Donation");
                                    var donationInput = $("<input>").attr("type", "text").addClass("form-control donation-input").attr("required", true);
                                    donationWrapper.append(donationLabel).append(donationInput);


                                    // Check if the donation type is "Inkind"
                                    if (record.donation_type === "In-Kind") {
                                        // Add input field for quantity
                                        var quantityWrapper = $("<div>").addClass("quantity-wrapper custom-class");
                                        var quantityLabel = $("<label>").addClass("form-label").text("Qty");
                                        var quantityInput = $("<input>").attr("type", "text").addClass("form-control quantity-input").attr("required", true);
                                        quantityWrapper.append(quantityLabel).append(quantityInput);

                                        // Add input event listener for quantity input
                                        quantityInput.on('input', function () {
                                            // Remove any non-numeric characters from the input
                                            var inputValue = this.value.replace(/\D/g, "");
                                            // Limit input to 2 digits
                                            if (inputValue.length > 6) {
                                                inputValue = inputValue.slice(0, 6);
                                            }
                                            // Update the input field value
                                            this.value = inputValue;
                                        });
                                    }

                                    if (record.donation_type === "Cash") {
                                        donationInput.on("input", function () {
                                            // Remove any non-digit characters from the input
                                            var inputValue = $(this).val().replace(/[^\d.]/g, '');

                                            // Prevent adding leading zeros
                                            if (inputValue.length > 1 && inputValue[0] === '0') {
                                                inputValue = inputValue.slice(1);
                                            }

                                            // If the input is empty or starts with a decimal point, prepend "0"
                                            if (inputValue === "" || inputValue[0] === ".") {
                                                inputValue = "0" + inputValue;
                                            }

                                            // Limit to one decimal point
                                            var parts = inputValue.split('.');
                                            if (parts.length > 1) {
                                                parts = [parts[0], parts[1].slice(0, 2)]; // Limit digits after decimal to two
                                                inputValue = parts.join('.');
                                            }

                                            // Format the input value with thousands separator and ".00" for decimal values
                                            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                            inputValue = parts.join('.');

                                            // Update the input field value
                                            $(this).val(inputValue);
                                        });
                                    }

                                    // Date input and its wrapper
                                    var dateWrapper = $("<div>").addClass("date-wrapper custom-class");
                                    var dateLabel = $("<label>").addClass("form-label").text("Date");
                                    var dateInput = $("<input>").attr("type", "date").addClass("form-control date-input").attr("required", true);

                                    // Set minimum date to current date
                                    var currentDate = new Date().toISOString().split('T')[0];
                                    dateInput.attr("min", currentDate);

                                    dateWrapper.append(dateLabel).append(dateInput);


                                    // Create the span element
                                    var spanElement = $("<span>").addClass("material-symbols-sharp").text("close_small");

                                    // Create the button element and append the span inside it
                                    var button = $("<button>").addClass("btn btn-danger delete-button").append(spanElement);


                                    // Append labels and input fields to the input group
                                    donationDateWrapper.append(donationWrapper).append(quantityWrapper).append(dateWrapper); // Append donation and date wrapper
                                    inputField.append(nameLabel).append(nameInput);
                                    inputField.append(donationDateWrapper); // Append donation and date wrapper to input field
                                    inputField.append(button); // Append delete button to the input group

                                    // Append input group to the donor list
                                    // Append input group to the donor list and then smoothly show it
                                    inputField.hide().appendTo(insightsDiv.find(".donor_list")).slideDown();


                                }

                                // Clear the input value after adding input fields
                                $(this).siblings("input").val("");
                            } else {
                                alert("Please enter a valid quantity.");
                            }
                        });

                        $(".mobile-input, .mobile-number").on('input', function () {
                            // Remove any non-numeric characters from the input
                            var inputValue = this.value.replace(/\D/g, "");
                            // Limit input to 2 digits
                            if (inputValue.length > 2) {
                                inputValue = inputValue.slice(0, 2);
                            }
                            // Update the input field value
                            this.value = inputValue;
                        });

                        // Removing input fields from the donor list and then smoothly hide them
                        insightsDiv.on("click", ".delete-button", function () {
                            var inputField = $(this).closest(".input-group");
                            if (inputField.siblings(".input-group").length > 0) { // Check if there is more than one input field
                                inputField.slideUp(function () {
                                    $(this).remove(); // Remove the input field after it's hidden
                                });
                            } else {
                                alert("At least one donor field must remain.");
                            }
                        });


                        var fund_project_name = null;
                        var fund_program = null;

                        // Loop through each donor record
                        record.donors.forEach(function (donor) {
                            // Check if the project name and program are already set
                            if (!fund_project_name && donor.project_name) {
                                fund_project_name = donor.project_name;
                            }
                            if (!fund_program && donor.program) {
                                fund_program = donor.program;
                            }
                        });

                        // Populate the donor table only if record.project_name and record.program match the respective fund names
                        if (record.project_name === fund_project_name && record.program === fund_program) {
                            var donorTableBody = insightsDiv.find("#donor-table tbody");
                            var donorTableHead = insightsDiv.find("#donor-table thead");
                            donorTableHead.empty();
                            // Clear the existing content of the donor table before populating it with new data
                            donorTableBody.empty();

                            // Append the table headers
                            var headRow = $("<tr>");
                            headRow.append($("<th>").text("Program"));
                            headRow.append($("<th>").text("Donor Name"));
                            headRow.append($("<th>").text("Donation").css("text-align", "center"));
                            if (record.donation_type === "In-Kind") {
                                headRow.append($("<th>").text("Quantity").css("text-align", "center"));
                            }
                            headRow.append($("<th>").text("Date").css("text-align", "center"));
                            donorTableHead.append(headRow);


                            record.donors.forEach(function (donor) {
                                var row = $("<tr>");
                                row.append($("<td>").text(record.program));
                                row.append($("<td>").text(donor.name));
                                row.append($("<td>").text(donor.donation).css("text-align", "center"));

                                if (record.donation_type == "In-Kind") {
                                    row.append($("<td>").text(donor.quantity).css("text-align", "center"));
                                }

                                // Format the date string to MM/DD/YYYY format
                                var date = new Date(donor.date);
                                var formattedDate = (date.getMonth() + 1) + '-' + date.getDate() + '-' + date.getFullYear();

                                row.append($("<td>").text(formattedDate).css("text-align", "center"));

                                donorTableBody.append(row);
                            });



                            // Calculate total donation if donation type is "Cash"
                            if (record.donation_type === 'Cash') {
                                // Remove commas from donation values and then sum them up
                                var totalDonation = record.donors.reduce((total, donor) => {
                                    // Ensure donation is a string before replacing commas and parsing
                                    var donationAmount = parseFloat(String(donor.donation).replace(/,/g, ''));
                                    return total + donationAmount;
                                }, 0);

                                // Format the total donation with commas
                                var formattedTotalDonation = totalDonation.toLocaleString('en-US', { maximumFractionDigits: 2 });

                                insightsDiv.find("#total-donation").remove(); // Remove existing total donation element if any
                                insightsDiv.find(".jumbotron").append("<h3 id='total-donation'>Total Donation: " + formattedTotalDonation + "</h3>");
                            }



                        }

                        // Hide donor_cash_card or donor_inkind_card based on donation_type
                        if (record.donation_type === 'Cash') {
                            insightsDiv.find('.donor_inkind_card').hide();
                            insightsDiv.find('.inkind_button').hide();
                            insightsDiv.find('.inkind_archive_button').hide();

                        } else if (record.donation_type === 'In-Kind') {
                            insightsDiv.find('.donor_cash_card').hide();
                            insightsDiv.find('.cash_button').hide();
                        }

                        // Check if status is "Completed"
                        if (record.status === "Completed") {
                            // Hide donor_cash_card and donor_inkind_card
                            insightsDiv.find('.donor_cash_card').hide();
                            insightsDiv.find('.donor_inkind_card').hide();

                        }

                        if (record.status === "Ongoing") {
                            // Hide donor_cash_card and donor_inkind_card
                            insightsDiv.find('.inkind_archive_button').hide();
                            insightsDiv.find('.cash_archive_button').hide();

                        }

                        // archive for cash fund
                        insightsDiv.find(".cash_archive_button").click(function () {
                            // Select the input field based on its parent container
                            var linkInput = insightsDiv.find(".link-input").val().trim();

                            if (linkInput === "") {
                                console.log("URL is empty.");
                                alert("Please enter a URL before archiving the project.");
                            } else {
                                var userConfirmed = confirm("Are you sure you want to proceed?");
                                if (userConfirmed) {
                                    // Execute update_status and updatePercentage if the user confirmed
                                    cash_archive_fund(linkInput); // Pass the URL input value to the archive_project function
                                }
                            }
                        });

                        function cash_archive_fund(url) {
                            var recordStatus = "Completed";
                            $.ajax({
                                url: "/cash_archive_fund",
                                method: "POST",
                                contentType: "application/json",
                                data: JSON.stringify({
                                    id: record.id,
                                    program: record.program,
                                    project_name: record.project_name,
                                    coordinator: record.coordinator,
                                    status: recordStatus,
                                    url: url // Include the URL in the data to be sent to the server
                                }),
                                success: function (response) {
                                    console.log("Status updated successfully.");
                                    location.reload();
                                },
                                error: function (error) {
                                    console.error("Failed to update status: ");
                                    alert("Invalid URL format. Please enter a valid URL starting with http:// or https:// and containing a valid domain.");
                                }
                            });
                        }

                        function cash_update_fund() {
                            var recordStatus = "Completed";
                            var donorData = []; // Array to store donor data

                            // Iterate over each input field in the donor list
                            var allFieldsFilled = true; // Flag to track if all required fields are filled


                            // Iterate over each input field in the donor list
                            insightsDiv.find(".donor_cash_card .donor_list .input-group").each(function () {
                                // Retrieve the values from the input fields
                                var name = $(this).find(".name-input").val().trim();
                                var donation = $(this).find(".donation-input").val().trim();
                                var date = $(this).find(".date-input").val().trim();

                                // Check if any required field is empty
                                if (name === "" || donation === "" || date === "") {
                                    // Set the flag to false if any required field is empty
                                    allFieldsFilled = false;
                                    // Optionally, you can highlight the empty fields or display an error message
                                    // Example: $(this).addClass("error"); or alert("Please fill in all required fields.");
                                } else {
                                    // Construct an object representing donor data and add it to the array
                                    donorData.push({
                                        name: name,
                                        donation: donation,
                                        date: date
                                    });
                                }
                            });

                            // Check if all required fields are filled before proceeding
                            if (allFieldsFilled) {
                                // Send the donorData array to the server
                                $.ajax({
                                    url: "/cash_update_fund",
                                    method: "POST",
                                    contentType: "application/json",
                                    data: JSON.stringify({
                                        id: record.id,
                                        project_name: record.project_name,
                                        program: record.program,
                                        coordinator: record.coordinator,
                                        status: recordStatus,
                                        donation_type: record.donation_type, // Specify the donation type as "Cash"
                                        donors: donorData
                                    }),
                                    success: function (response) {
                                        console.log("Status updated successfully.");
                                        location.reload();
                                    },
                                    error: function (error) {
                                        console.error("Failed to update status: " + error);
                                    }
                                });
                            } else {
                                // Optionally, you can display an error message or take appropriate action
                                alert("Please fill in all required fields.");
                            }
                        }


                        // archive for inkind fund
                        insightsDiv.find(".inkind_archive_button").click(function () {
                            // Select the input field based on its parent container
                            var linkInput = insightsDiv.find(".link-input").val().trim();

                            if (linkInput === "") {
                                console.log("URL is empty.");
                                alert("Please enter a URL before archiving the project.");
                            } else {
                                var userConfirmed = confirm("Are you sure you want to proceed?");
                                if (userConfirmed) {
                                    // Execute update_status and updatePercentage if the user confirmed
                                    inkind_archive_fund(linkInput); // Pass the URL input value to the archive_project function
                                }
                            }
                        });

                        function inkind_archive_fund(url) {
                            var recordStatus = "Completed";
                            $.ajax({
                                url: "/inkind_archive_fund",
                                method: "POST",
                                contentType: "application/json",
                                data: JSON.stringify({
                                    id: record.id,
                                    program: record.program,
                                    project_name: record.project_name,
                                    coordinator: record.coordinator,
                                    status: recordStatus,
                                    url: url // Include the URL in the data to be sent to the server
                                }),
                                success: function (response) {
                                    console.log("Status updated successfully.");
                                    location.reload();
                                },
                                error: function (error) {
                                    console.error("Failed to update status: ");
                                    alert("Invalid URL format. Please enter a valid URL starting with http:// or https:// and containing a valid domain.");
                                }
                            });
                        }

                        donation_type_inkind = record.donation_type

                        function inkind_update_fund() {
                            var recordStatus = "Completed";
                            var donorData = []; // Array to store donor data

                            // Iterate over each input field in the donor list
                            var allFieldsFilled = true; // Flag to track if all required fields are filled
                            insightsDiv.find(".donor_inkind_card .donor_list .input-group").each(function () {
                                // Retrieve the values from the input fields
                                var name = $(this).find(".name-input").val().trim();
                                var donation = $(this).find(".donation-input").val().trim();
                                var date = $(this).find(".date-input").val().trim();
                                var quantity = $(this).find(".quantity-input").val().trim();


                                // Check if any required field is empty
                                if (name === "" || donation === "" || date === "" || quantity === "") {

                                    // Set the flag to false if any required field is empty
                                    allFieldsFilled = false;

                                } else {
                                    // Construct an object representing donor data and add it to the array
                                    donorData.push({
                                        name: name,
                                        donation: donation,
                                        date: date,
                                        quantity: quantity
                                    });
                                }
                            });

                            // Check if all required fields are filled before proceeding
                            if (allFieldsFilled) {
                                // Send the donorData array to the server
                                $.ajax({
                                    url: "/inkind_update_fund",
                                    method: "POST",
                                    contentType: "application/json",
                                    data: JSON.stringify({
                                        id: record.id,
                                        project_name: record.project_name,
                                        program: record.program,
                                        coordinator: record.coordinator,
                                        status: recordStatus,
                                        donation_type: record.donation_type, // Specify the donation type as "In-Kind"
                                        donors: donorData
                                    }),
                                    success: function (response) {
                                        console.log("Status updated successfully.");
                                        location.reload();
                                    },
                                    error: function (error) {
                                        console.error("Failed to update status: " + error);
                                    }
                                });
                            } else {
                                // Optionally, you can display an error message or take appropriate action
                                alert("Please fill in all required fields.");
                            }
                        }

                        insightsContainer.append(insightsDiv);
                        insightsDiv.removeClass("insights-div");
                    });

                    insightsContainer.find("> div:first-child").css("display", "none");
                }
            },
            error: function () {
                console.log("Failed to load community data.");
            }
        });
    }
</script>


{% endblock %}