<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/static/css/login.css" />
    <link rel="stylesheet" href="/static/css/flash.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link class="favicon" rel="icon" href="{{ url_for('static', filename='images/cesu-icon.ico') }}"
        type="image/x-icon">


    <style>
        body {
            display: flex;
            justify-content: center;
            /* horizontally center */
            align-items: center;
            /* vertically center */
            height: 100vh;
            /* Set height to 100vh to cover the entire viewport height */
            margin: 0;
            /* Remove default body margin */
            font-family: poppins, sans-serif;
            overflow: hidden;
            /* Hide overflow to prevent blurred content from showing */
            position: relative;
            /* Set position to relative to allow positioning of pseudo-element */
        }


        body::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/static/images/CES.png');
            background-size: cover;

            background-repeat: no-repeat;
            /* prevent the background image from repeating */
            filter: blur(5px);
            /* Add a blur effect to the background image */
            z-index: -1;
            /* Send the pseudo-element behind other content */
        }

        body::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(60, 60, 60, 0.5);
            /* Semi-transparent black overlay */
            z-index: -1;
            /* Send the pseudo-element behind other content */
        }
    </style>
</head>

<body>
    <div class="login_container">

        <div class="login_detail">
            <img class="cesu_logo" src="/static/images/CESO.png" alt="CESU Logo">
            <h2>Sign in</h2>
            <div class="cesu_acc">
                <h3>Use your CESU Account</h3>
                <!-- <img class="cesu_bg" src="/static/images/CES.png" alt="CESU Logo"> -->
            </div>
        </div>

        <div class="login_input">

            <form class="login_form" method="POST" action="{{ url_for('dbModel.login') }}">
                <div class="input-wrapper">
                    <input type="text" id="username" name="username" required>
                    <label for="username" class='placeholder'>Username</label>
                </div>

                <div class="input-wrapper">
                    <input type="password" id="password" name="password" required>
                    <label for="password" class='placeholder'>Password</label>
                </div>
                <h5 class="btn_recover" data-bs-toggle="modal" data-bs-target="#mymodal">Forgot Password</h5>
                <button type="submit" class="login_btn">Login</button>

                <!-- Add this code below the form -->
                <small>
                    {% with messages = get_flashed_messages(category_filter=['login_error'], with_categories=true)
                    %}
                    {% if messages %}
                    <div>
                        {% for category, message in messages %}
                        <div class="flash-login flash-{{ category }}"
                            style="position: absolute; top: -6rem; left: 1.9rem;">
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
                </small>
            </form>

            <!-- Modal -->
            <div id="mymodal" class="modal" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Change Password Request</h4>
                        </div>
                        <div class="modal-body">
                            <form method="post" id="recoveryForm" action="/send_recovery_mail">
                                <div class="input-wrapper">
                                    <input type="email" class="form-control" name="email" id="email" required>
                                    <label for="email" class='placeholder'>Email (gmail)</label>


                                </div>
                                <button class="btn-submit-recovery" type="submit">Send OTP</button>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn-close" data-bs-dismiss="modal"><span
                                    class="material-symbols-sharp">close</span></button>
                        </div>
                    </div>
                </div>
            </div><!--end modal-->
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>


    <!-- for input animation -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const inputWrappers = document.querySelectorAll('.input-wrapper');
            inputWrappers.forEach(wrapper => {
                const input = wrapper.querySelector('input');
                if (input) {
                    input.addEventListener('input', function () {
                        const placeholder = wrapper.querySelector('.placeholder');
                        if (input.value.trim() !== '') {
                            placeholder.classList.add('has-value');
                        } else {
                            placeholder.classList.remove('has-value');
                        }
                    });
                }
            });
        });

    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var flashes = document.querySelectorAll('.flash-login');

            flashes.forEach(function (flash) {
                // Set a timeout to hide the flash after 3 seconds
                setTimeout(function () {
                    flash.style.opacity = 0;

                    // Optionally, remove the flash element from the DOM after the fade-out effect is completed
                    flash.addEventListener('transitionend', function () {
                        flash.remove();
                    });
                }, 3000); // 3000 milliseconds (3 seconds)
            });
        });
    </script>

    <script>
        //date picker
        flatpickr("#birthday", {
            dateFormat: "Y-m-d",
            altInput: true,
            altFormat: "F j, Y",
        })

        $(document).ready(function () {
            $('#forgotPasswordForm').on('submit', function (event) {
                event.preventDefault(); // Prevent the default form submission

                $.ajax({
                    type: 'POST',
                    url: '/forgot_password',  // Replace with the correct URL
                    data: $('#forgotPasswordForm').serialize(),
                    success: function (response) {
                        // If successful, redirect to the reset_password route
                        $('body').html(response);
                    },
                    error: function (xhr, status, error) {
                        // If error, display an alert
                        var errorMessage = JSON.parse(xhr.responseText).error;
                        alert(errorMessage);
                    }
                });
            });
        });

    </script>

    <!-- validation for email -->
    <script>
        $(document).ready(function () {
            // Event listener for form submission
            $('#recoveryForm').on('submit', function (event) {
                event.preventDefault(); // Prevent default form submission
                var email = $('#email').val();
                checkEmailExists(email);
            });

            // Function to check if the email exists
            function checkEmailExists(email) {
                $.ajax({
                    type: 'POST',
                    url: '/check_email_exists',
                    data: { email: email },
                    success: function (response) {
                        if (response.exists) {
                            // If email exists, submit the form
                            $('#recoveryForm').unbind('submit').submit();
                        } else {
                            alert('Email does not exist!');
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('Error checking email existence.');
                    }
                });
            }
        });
    </script>

    <!--RETAIN INPUTS-->
    <script>
        // Function to save form inputs to local storage
        function saveFormInputs() {
            localStorage.setItem('username', document.getElementById('username').value);
            // You might not want to save passwords for security reasons
            // localStorage.setItem('password', document.getElementById('password').value);
        }

        // Function to load form inputs from local storage
        function loadFormInputs() {
            document.getElementById('username').value = localStorage.getItem('username') || '';
            // You might not want to load passwords for security reasons
            // document.getElementById('password').value = localStorage.getItem('password') || '';
        }

        document.addEventListener('DOMContentLoaded', function () {
            // Load form inputs when the page is loaded
            loadFormInputs();

            // Save form inputs when the form is submitted
            document.getElementById('loginForm').addEventListener('submit', saveFormInputs);
        });

        window.addEventListener('beforeunload', saveFormInputs); // Save form inputs before leaving the page
    </script>

</body>

</html>