{% extends "admin_dashboard.html" %} {% block title %}Fundraising Details{%
endblock %} {% block content %}
<div class="margin-top"></div>
{% with messages = get_flashed_messages(category_filter=['delete_account',
'add_community', 'existing_community'], with_categories=true) %} {% if messages
%} {% for category, message in messages %}
<div class="flash flash-{{ category }}">{{ message }}</div>
{% endfor %} {% endif %} {% endwith %}

<div class="pending_fund_details_card">
  <div class="pending_fund_details_box">
    <h2 style="margin-bottom: 1rem">CESU <b>Pending Fundraising Details</b></h2>



    <form class="uploading" action="{{ url_for('fundraising.approve_fund') }}" method="POST"
      enctype="multipart/form-data" id="upload-form">
      <input type="text" style="display: none" class="form-control" name="id" value="{{id}}" readonly />
      <!-- PPA -->
      <label class="PPA label-category">FUNDRAISING PROJECT</label>
      <div class="form-group">
        <label>Project Name:</label>
        <input type="text" class="form-control" name="project_name" value="{{project_name}}" readonly />
      </div>
      <div class="form-group">
        <label>Program:</label>
        <input type="text" class="form-control" name="program" value="{{program}}" readonly />
      </div>
      <div class="form-group">
        <label>Venue:</label>
        <input type="text" class="form-control" name="venue" value="{{venue}}" readonly />
      </div>

      <br />
      <!-- TIMEFRAME -->
      <label class="timeframe label-category">TIMEFRAME</label>
      <div class="form-group">
        <label>Date Proposed:</label>
        <input type="text" class="form-control" name="proposed_date" id="start_date_input" placeholder="Select Date..."
          disabled value="{{proposed_date}}" />
      </div>
      <div class="form-group">
        <label>Target Date:</label>
        <input type="text" class="form-control" name="target_date" id="end_date_input" placeholder="Select Date..."
          disabled value="{{target_date}}" />
      </div>
      <br />
      <!-- ACCOUNTABILITY -->
      <label class="accountability label-category">ACCOUNTABILITY</label><br>
      <div class="form-group">
        <label>Coordinator: </label><br />
        <input type="text" class="form-control" name="coordinator" readonly value="{{coordinator}}" />
      </div>

      <div class="form-group">
        <label>Event Organizer:</label>
        <input type="text" class="form-control letters-with-space-input" name="event_organizer" readonly
          value="{{event_organizer}}" />
      </div>
      <div class="form-group">
        <label>Lead Proponent / Designation:</label>
        <input type="text" class="form-control letters-with-space-input" name="lead_proponent" readonly
          value="{{lead_proponent}}" />
      </div>
      <br />
      <label class="accountability label-category">OTHERS</label><br />
      <div class="form-group">
        <label>Contact Details:</label>
        <input type="text" class="form-control mobile-input" name="contact_details" readonly
          value="{{contact_details}}" />
      </div>
      <div class="form-group">
        <label>Form of donation:</label><br />
        <input type="text" class="form-control mobile-input" name="donation_type" readonly value="{{donation_type}}" />
      </div>
      <div class="form-group">
        <button class="btn-submit" type="submit" value="Upload">Accept</button>
      </div>

    </form>



    <form action="{{ url_for('fundraising.decline_fund') }}" class="upload_loading" method="POST"
      enctype="multipart/form-data" id="upload-form">
      <!-- Hidden input fields to pass data -->
      <input type="hidden" name="project_name" value="{{ project_name }}">
      <input type="hidden" name="program" value="{{ program }}">
      <input type="hidden" name="id" value="{{ id }}">

      <div class="form-group">
        <label>Comments:</label>
        <input type="text" class="form-control" name="comments" required>
      </div>
      <button class="btn-decline" type="submit">Decline</button>
    </form>
  </div>
</div>
<div id="loading-screen" style="display: none;">
  <div class="loader_animation"></div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script>
  flatpickr("#start_date_input", {
    dateFormat: "Y-m-d",
    altInput: true,
    altFormat: "F j, Y",
  });

  flatpickr("#end_date_input", {
    dateFormat: "Y-m-d",
    altInput: true,
    altFormat: "F j, Y",
  });
</script>

{% endblock %}