<!DOCTYPE html>
<html>
<head>
    <title>Community Data</title>
</head>
<body>
    <h1>Community Data</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Community</th>
                <th>Program</th>
                <th>Subprogram</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Week</th>
                <th>Total Week</th>
                <th>User</th>
                <th>Department</th>
                <th>SubDepartment</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for community in community_data %}
            <tr>
                <td>{{ community.id }}</td>
                <td>{{ community.community }}</td>
                <td>{{ community.program }}</td>
                <td>{{ community.subprogram }}</td>
                <td>{{ community.start_date }}</td>
                <td>{{ community.end_date }}</td>
                <td>{{ community.week }}</td>
                <td>{{ community.totalWeek }}</td>
                <td>{{ community.user }}</td>
                <td>{{ community.department }}</td>
                <td>{{ community.subDepartment }}</td>
                <td>{{ community.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table >
        <h1>CesuUser</h1>
        <thead>
            <tr>
               
                <th>username</th>
                <th>birthday</th>
                <th>password</th>
                
            </tr>
        </thead>
        <tbody>
            {% for CesuUser in CesuUser_data %}
            <tr>
                <td class="file-td">{{ CesuUser.username }}</td>
                <td class="file-td">{{ CesuUser.birthday }}</td>
                <td class="file-td">{{ CesuUser.password }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <table >
        <h1>Subrpogram</h1>
        <thead>
            <tr>
               
                <th>Program</th>
                <th>Subprogram</th>
                
            </tr>
        </thead>
        <tbody>
            {% for file3 in subprogram_data %}
            <tr>
                <td class="file-td">{{ file3.program }}</td>
                <td class="file-td">{{ file3.subprogram }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table >
        <h1>CPF_data</h1>
        <thead>
            <tr>
                <th>File name</th>
                <th>Program</th>
                <th>Subprogram</th>
                
            </tr>
        </thead>
        <tbody>
            {% for file1 in CPF_data %}
            <tr>
                <td class="file-td">{{ file1.filename }}</td>
                <td class="file-td">{{ file1.program }}</td>
                <td class="file-td">{{ file1.subprogram }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table >
        <h1>CESAP_data</h1>
        <thead>
            <tr>
                <th>File name</th>
                <th>Program</th>
                <th>Subprogram</th>
                
            </tr>
        </thead>
        <tbody>
            {% for file2 in CESAP_data %}
            <tr>
                <td class="file-td">{{ file2.filename }}</td>
                <td class="file-td">{{ file2.program }}</td>
                <td class="file-td">{{ file2.subprogram }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  
    <table >
        <h1>CNA</h1>
        <thead>
            <tr>
                <th>File name</th>
                <th>Community</th>
                <th>Program</th>
                <th>Subprogram</th>
                
            </tr>
        </thead>
        <tbody>
            {% for file4 in CNA_data %}
            <tr>
                <td class="file-td">{{ file4.filename }}</td>
                <td class="file-td">{{ file4.community }}</td>
                <td class="file-td">{{ file4.program }}</td>
                <td class="file-td">{{ file4.subprogram }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

   
    <h1>Pending_project_data</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Community</th>
                <th>Program</th>
                <th>Subprogram</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Week</th>
                <th>Total Week</th>
                <th>User</th>
                <th>Department</th>
                <th>SubDepartment</th>
                <th>Status</th>
                <th>Pending</th>
            </tr>
        </thead>
        <tbody>
            {% for community in  Pending_project_data%}
            <tr>
                <td>{{ community.id }}</td>
                <td>{{ community.community }}</td>
                <td>{{ community.program }}</td>
                <td>{{ community.subprogram }}</td>
                <td>{{ community.start_date }}</td>
                <td>{{ community.end_date }}</td>
                <td>{{ community.week }}</td>
                <td>{{ community.totalWeek }}</td>
                <td>{{ community.user }}</td>
                <td>{{ community.department }}</td>
                <td>{{ community.subDepartment }}</td>
                <td>{{ community.status }}</td>
                <td>{{ community.pending }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <table >
        <h1>CNA</h1>
        <thead>
            <tr>
                <th>ID</th>
                <th>File name</th>
                <th>Community</th>
                <th>Program</th>
                <th>Subprogram</th>
                
            </tr>
        </thead>
        <tbody>
            {% for file5 in CNAp_data %}
            <tr>
                
                <td class="file-td">{{ file5.id }}</td>
                <td class="file-td">{{ file5.filename }}</td>
                <td class="file-td">{{ file5.community }}</td>
                <td class="file-td">{{ file5.program }}</td>
                <td class="file-td">{{ file5.subprogram }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table >
        <h1>CESAP</h1>
        <thead>
            <tr>
                <th>ID</th>
                <th>File name</th>
                <th>Program</th>
                <th>Subprogram</th>
                
            </tr>
        </thead>
        <tbody>
            {% for file6 in CESAPp_data %}
            <tr>
                <td class="file-td">{{ file6.id }}</td>
                <td class="file-td">{{ file6.filename }}</td>
                <td class="file-td">{{ file6.program }}</td>
                <td class="file-td">{{ file6.subprogram }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table>
        <h1>CPF</h1>
        <thead>
            <tr>
                <th>ID</th>
                <th>File name</th>
                <th>Program</th>
                <th>Subprogram</th>
                
            </tr>
        </thead>
        <tbody>
            {% for file7 in CPFp_data %}
            <tr>
                <td class="file-td">{{ file7.id }}</td>
                <td class="file-td">{{ file7.filename }}</td>
                <td class="file-td">{{ file7.program }}</td>
                <td class="file-td">{{ file7.subprogram }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <!--CPF Archive-->

    <table>
        <h1>CPF ARCHIVE</h1>
        <thead>
            <tr>
                <th>ID</th>
                <th>File name</th>
                <th>Program</th>
                <th>Subprogram</th>
                
            </tr>
        </thead>
        <tbody>
            {% for file10 in CPF_archive %}
            <tr>
                <td class="file-td">{{ file10.id }}</td>
                <td class="file-td">{{ file10.filename }}</td>
                <td class="file-td">{{ file10.program }}</td>
                <td class="file-td">{{ file10.subprogram }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<br>
<br>

<table>
    <h1>CesuUser</h1>
    <thead>
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>email</th>
            <th>password</th>
            <th>otp</th>
            
        </tr>
    </thead>
    <tbody>
        {% for file11 in CesuUserX %}
        <tr>
            <td class="file-td">{{ file11.id }}</td>
            <td class="file-td">{{ file11.name }}</td>
            <td class="file-td">{{ file11.email }}</td>
            <td class="file-td">{{ file11.password }}</td>
            <td class="file-td">{{ file11.otp }}</td>
            <td class="file-td">{{ file11.otp_timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br>

<a href="mailto: emer22297@gmail.com">Send Mail</a>
</body>
</html>
