<!DOCTYPE html>
<html>
<head>
    <title>Community Data</title>
</head>
<body>
    <h1>Community Data</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Community</th>
                <th>Program</th>
                <th>Subprogram</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Week</th>
                <th>Total Week</th>
                <th>User</th>
                <th>Department</th>
                <th>SubDepartment</th>
                <th>Status</th>
                <th>Budget</th>
                <th>CPF</th>
                <th>CESAP</th>
                <th>CNA</th>
    
                
            </tr>
        </thead>
        <tbody>
            {% for community in community_data %}
            <tr>
                <td>{{ community.id }}</td>
                <td>{{ community.community }}</td>
                <td>{{ community.program }}</td>
                <td>{{ community.subprogram }}</td>
                <td>{{ community.start_date }}</td>
                <td>{{ community.end_date }}</td>
                <td>{{ community.week }}</td>
                <td>{{ community.totalWeek }}</td>
                <td>{{ community.user }}</td>
                <td>{{ community.department }}</td>
                <td>{{ community.subDepartment }}</td>
                <td>{{ community.status }}</td>
                <td>{{ community.budget }}</td>
                <td>{{ community.cpf_filename }}</td>
                <td>{{ community.cesap_filename }}</td>
                <td>{{ community.cna_filename }}</td>
          
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table >
        <h1>Subrpogram</h1>
        <thead>
            <tr>
               
                <th>Program</th>
                <th>Subprogram</th>
                
            </tr>
        </thead>
        <tbody>
            {% for file3 in subprogram_data %}
            <tr>
                <td class="file-td">{{ file3.program }}</td>
                <td class="file-td">{{ file3.subprogram }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
   
    <h1>Pending_project_data</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Community</th>
                <th>Program</th>
                <th>Subprogram</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Week</th>
                <th>Total Week</th>
                <th>User</th>
                <th>Department</th>
                <th>SubDepartment</th>
                <th>Status</th>
                <th>Budget</th>
                <th>CPF</th>
                <th>CESAP</th>
                <th>CNA</th>
    
                
            </tr>
        </thead>
        <tbody>
            {% for community in Pending_project_data %}
            <tr>
                <td>{{ community.id }}</td>
                <td>{{ community.community }}</td>
                <td>{{ community.program }}</td>
                <td>{{ community.subprogram }}</td>
                <td>{{ community.start_date }}</td>
                <td>{{ community.end_date }}</td>
                <td>{{ community.week }}</td>
                <td>{{ community.totalWeek }}</td>
                <td>{{ community.user }}</td>
                <td>{{ community.department }}</td>
                <td>{{ community.subDepartment }}</td>
                <td>{{ community.status }}</td>
                <td>{{ community.budget }}</td>
                <td>{{ community.cpf_filename }}</td>
                <td>{{ community.cesap_filename }}</td>
                <td>{{ community.cna_filename }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


<table>
    <h1>Users</h1>
    <thead>
        <tr>
            <th>ID</th>
            <th>username</th>
            <th>email</th>
            <th>password</th>
            <th>otp</th>
            <th>otp_timestamp</th>
            <th>program</th>
            <th>role</th>
            <th>budget</th>
        </tr>
    </thead>
    <tbody>
        {% for file11 in Users %}
        <tr>
            <td class="file-td">{{ file11.id }}</td>
            <td class="file-td">{{ file11.username }}</td>
            <td class="file-td">{{ file11.email }}</td>
            <td class="file-td">{{ file11.password }}</td>
            <td class="file-td">{{ file11.otp }}</td>
            <td class="file-td">{{ file11.otp_timestamp }}</td>
            <td class="file-td">{{ file11.program }}</td>
            <td class="file-td">{{ file11.role }}</td>
            <td class="file-td">{{ file11.budget }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br>

</body>
</html>
